# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install

    - name: Lint code
      run: yarn lint 

    - name: Audit dependencies
      run: yarn audit --level high

    - name: Set up git-secrets
      run: |
        git clone https://github.com/awslabs/git-secrets.git
        cd git-secrets && make install

    - name: Scan for secrets
      run: git-secrets --scan

    - name: Check .gitignore
      run: |
        if grep -Fxq ".env" .gitignore; then
          echo ".env is properly ignored";
        else
          echo "ERROR: .env is not in .gitignore" && exit 1;
        fi

    - name: Build project
      run: yarn build

    - name: run Test
      run: yarn test
